<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 從www.getbootstrap.com 拷貝來的 -->
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>購物車</title>
</head>
<body>
	<div class="container">
		<h3>購物車</h3>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>品名</th>
					<th>價格</th>
					<th>描述</th>
					<th>圖檔</th>
					<th>數量</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="theMap:${cart.cartList}">
					<td th:text="${theMap.value.product.name}"/>
					<td th:text="${theMap.value.product.price}"/>
					<td th:text="${theMap.value.product.description}"/>
					<td><img th:src="${theMap.value.product.imgPath}" alt="圖片" style="width: 20%;height:auto;"/></td>
					<!-- 顯示修改數量 -->
					<td th:if="${isConfirm}==false">
						<form th:action="@{/cart/setCartItemQuantity}">
							<input type="hidden" name="productId" th:value="${theMap.value.product.id}"/>
							<input type="number" name="newQuantity" th:value="${theMap.value.quantity}"/>
							<button type="submit" class="btn btn-info col-2">修改</button>
						</form>
					</td>
					<td th:if="${isConfirm}==true" th:text="${theMap.value.quantity}"/>
				</tr>
			</tbody>
		</table>
		<hr>
			<a th:if="${isConfirm}==false" th:href="@{/cart/confirm}" class="btn btn-primary btn-sm mb-3">確認</a>
			<a th:if="${isConfirm}==false" th:href="@{/cart/list}" class="btn btn-primary btn-sm mb-3">返回</a>
			<form th:if="${isConfirm}==true" th:action="@{/cart/checkout}" th:object="${cart}" method="POST" style="display:inline">
				<input type="submit" value="下單" class="btn btn-danger btn-sm mb-3">
			</form>
			<a th:if="${isConfirm}==true" th:href="@{/cart/inCart}" class="btn btn-primary btn-sm mb-3">取消</a>
	</div>
	
	<!-- hidden -->
	
</body>

</html>